
<div ng-model="instagramPage" class="page" ng-class="instagramPage.page.position">
  <div ng-repeat="article in instagramPage.dataList" class="hideBeneath" touch-slide-controller>
    <igram igram="article"></igram>
  </div>
</div>

<div ng-model="youtubePage" class="page" ng-class="youtubePage.page.position" >
  <div ng-repeat="article in youtubePage.dataList" class="hideBeneath" touch-slide-controller>
    <ytube ytube="article"></ytube>
  </div>
</div>

<div ng-model="twitterPage" class="page" ng-class="twitterPage.page.position" >
  <div ng-repeat="tweet in twitterPage.dataList" class="hideBeneath" touch-slide-controller>
    <tweet tweet="tweet"></tweet>
  </div>
</div>

<div ng-model="mainPage" class="page" ng-class="mainPage.page.position" >
  <div ng-repeat="article in mainPage.dataList" class="hideBeneath" touch-slide-controller>
    <tweet ng-if="article.type=='twitter'" tweet="article"></tweet>
    <igram ng-if="article.type=='instagram'" igram="article"></igram>
    <ytube ng-if="article.type=='youtube'" ytube="article"></ytube>
  </div>
</div>
